.neonText {
  color: rgb(12, 8, 8);
  text-shadow: 0 0 35px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 95px #b71c1c,
    0 0 82px #b71c1c, 0 0 92px #b71c1c, 0 0 102px #b71c1c, 0 0 151px #b71c1c;
}

body {
  font-size: 18px;
  font-family: "Vibur", sans-serif;
  background-image: url("../img/wood-g6080a22ca_1920.jpg");
  width: 100%;
}
h1 {
  font-size: 4.2rem;
  animation: flicker 1.5s infinite alternate;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-left-side button:hover {
  background-color: #d32f2fcf;
}
.only-PC {
  cursor: not-allowed !important;
}

#rock,
#paper,
#scissors {
  cursor: pointer;
}
.field-play img {
  width: 200px;
  height: auto;
  clip-path: circle(89px at 104px 91px);
}
.counter-block {
  display: flex;
  align-content: space-around;
  align-items: center;
  justify-content: center;
  margin: 25px;
  gap: 20px;
}

button {
  width: 210px;
  height: 160px;
  border-radius: 70px;
}

.player-left-side,
.computer-right-side {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.container-game {
  display: flex;
}

.result {
  display: flex;
  justify-content: center;
  font-size: 45px;
}
.play-again button {
  width: 131px;
  height: 73px;
  font-size: 28px;
  border-radius: 17px;
  font-weight: 200;
}
.play-again button:hover {
  background-color: #d32f2ff0;
}
.play-again {
  display: flex;
  justify-content: center;
}
